In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv
Saving train.csv to train.csv

In [7]:
base_path = '/content'
import os
os.chdir(base_path)
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [8]:
train

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,TRAIN_000000,USER_00000,BOOK_044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,TRAIN_000001,USER_00000,BOOK_081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,TRAIN_000002,USER_00000,BOOK_086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,TRAIN_000003,USER_00000,BOOK_098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,TRAIN_000004,USER_00000,BOOK_180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book
...,...,...,...,...,...,...,...,...,...,...
871388,TRAIN_871388,USER_92096,BOOK_081138,0,34.0,"minneapolis, minnesota, usa",Healing Words: The Power of Prayer and the Pra...,Larry Dossey,1993.0,Harpercollins
871389,TRAIN_871389,USER_92097,BOOK_258124,0,35.0,"temple, texas, usa",The Salmon of Doubt: Hitchhiking the Galaxy On...,DOUGLAS ADAMS,2002.0,Harmony
871390,TRAIN_871390,USER_92098,BOOK_071848,0,45.0,"ottawa, ontario, canada",Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2000.0,Thorndike Press
871391,TRAIN_871391,USER_92099,BOOK_252599,8,43.0,"maple grove, minnesota, usa",Heartbreak Hill: Anatomy of a Ryder Cup,Tim Rosaforte,1996.0,St Martins Pr
871392,TRAIN_871392,USER_92100,BOOK_130798,0,35.0,"castiglion fiorentino, toscana, italy",The Coffin Quilt: The Feud between the Hatfiel...,Ann Rinaldi,1999.0,Harcourt Children's Books

In [9]:
test

,ID,User-ID,Book-ID,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,TEST_000000,USER_00008,BOOK_047966,37.0,"vermilion, ohio, usa",Birds of Prey: A Novel of Suspense,J.A. Jance,2002.0,Avon
1,TEST_000001,USER_00008,BOOK_119494,37.0,"vermilion, ohio, usa",Midnight Voices,JOHN SAUL,2003.0,Ballantine Books
2,TEST_000002,USER_00008,BOOK_151775,37.0,"vermilion, ohio, usa",Breaking Free : A Prescription for Personal an...,David M. Noer,1996.0,Jossey-Bass
3,TEST_000003,USER_00008,BOOK_176255,37.0,"vermilion, ohio, usa",Bitter Harvest,Ann Rule,1999.0,Pocket
4,TEST_000004,USER_00008,BOOK_187307,37.0,"vermilion, ohio, usa",Embraced by the Light,Betty J. Eadie,1994.0,Bantam Books
...,...,...,...,...,...,...,...,...,...
159616,TEST_159616,USER_92086,BOOK_159050,0.0,"mountain view, california, usa",The Fat Flush Plan,Ann Louise Gittleman,2001.0,McGraw-Hill/Contemporary Books
159617,TEST_159617,USER_92086,BOOK_196481,0.0,"mountain view, california, usa",We Die Alone: A WWII Epic of Escape and Endurance,David Howarth,1999.0,The Lyons Press
159618,TEST_159618,USER_92086,BOOK_199754,0.0,"mountain view, california, usa",From 60 Yards In : How to Master Golf's Short ...,Raymond Floyd,1992.0,Perennial
159619,TEST_159619,USER_92086,BOOK_227481,0.0,"mountain view, california, usa",Solo: On Her Own Adventure,Susan Fox Rogers,1996.0,Seal Press (WA)
159620,TEST_159620,USER_92086,BOOK_237054,0.0,"mountain view, california, usa",Avalanche Safety: For Skiers &amp; Climbers,Tony Daffern,1999.0,Mountaineers Books

In [10]:
train.isnull().sum()

ID                     0
User-ID                0
Book-ID                0
Book-Rating            0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [11]:
test.isnull().sum()

ID                     0
User-ID                0
Book-ID                0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [ ]:
test[test['Book-Author'].isnull()]['Book-Title'] = ''
test[test['Book-Title'] == 'A+ Quiz Masters:01 Earth']

/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_43790/1726409936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[test['Book-Author'].isnull()]['Book-Title'] = ''

,ID,User-ID,Book-ID,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
7799,TEST_007799,USER_03514,BOOK_014768,29.0,"milton keynes, england, united kingdom",A+ Quiz Masters:01 Earth,NaN,1999.0,Dorling Kindersley

In [12]:
test['Book-Author'].fillna('Unknown', inplace=True)
test.isnull().sum()

ID                     0
User-ID                0
Book-ID                0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [ ]:
test[test['Book-Title'] == 'A+ Quiz Masters:01 Earth']

,ID,User-ID,Book-ID,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
7799,TEST_007799,USER_03514,BOOK_014768,29.0,"milton keynes, england, united kingdom",A+ Quiz Masters:01 Earth,Unknown,1999.0,Dorling Kindersley

In [ ]:
print(train.duplicated().sum())
print(test.duplicated().sum())

0
0

In [13]:
train.dtypes

ID                      object
User-ID                 object
Book-ID                 object
Book-Rating              int64
Age                    float64
Location                object
Book-Title              object
Book-Author             object
Year-Of-Publication    float64
Publisher               object
dtype: object

In [14]:
train.describe()

         Book-Rating            Age  Year-Of-Publication
count  871393.000000  871393.000000        871393.000000
mean        2.820579      36.799861          1968.903339
std         3.846906      12.065509           228.077752
min         0.000000       0.000000            -1.000000
25%         0.000000      31.000000          1991.000000
50%         0.000000      35.000000          1997.000000
75%         7.000000      41.000000          2001.000000
max        10.000000     244.000000          2021.000000

In [ ]:
display(train[train['Age'] > 100]['Age'].value_counts())
display(train[(train['Age'] > 80) & (train['Age'] < 100)]['Age'].value_counts())
display(train[train['Age'] < 20].Age.value_counts())
# sorted(train['Age'].unique())

Age
116.0    968
103.0    417
201.0    285
104.0    184
239.0    116
101.0    113
136.0     97
204.0     93
148.0     51
228.0     48
168.0     40
209.0     20
151.0     17
141.0     17
220.0     15
229.0     11
152.0     10
140.0      8
128.0      8
244.0      7
199.0      6
223.0      5
108.0      5
146.0      4
127.0      4
124.0      4
212.0      2
200.0      2
237.0      2
219.0      2
138.0      2
226.0      1
132.0      1
105.0      1
157.0      1
109.0      1
147.0      1
118.0      1
114.0      1
123.0      1
107.0      1
Name: count, dtype: int64

Age
81.0    166
83.0    154
97.0    127
82.0     79
90.0     45
93.0     34
84.0     34
92.0     25
85.0     13
96.0      8
99.0      4
86.0      2
89.0      2
98.0      1
Name: count, dtype: int64

Age
18.0    7160
17.0    4453
19.0    4274
16.0    2791
15.0    2789
14.0    2661
9.0     1307
13.0    1085
12.0     586
0.0      495
8.0      448
11.0     418
1.0      361
2.0      278
4.0      250
10.0     168
3.0      128
7.0      108
5.0      101
6.0       12
Name: count, dtype: int64

In [ ]:
train['Age'][train['Age'] >= 100] = 100
test['Age'][test['Age'] >= 100] = 100
train['Age'].unique()

/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_43790/970221906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Age'][train['Age'] >= 100] = 100
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_43790/970221906.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Age'][test['Age'] >= 100] = 100

array([ 23.,  35.,  24.,  39.,  37.,  47.,  48.,  20.,  31.,  46.,  49.,
        58.,  68.,  26.,  32.,  17.,  34.,  56.,  36.,  15.,  53.,  18.,
        40.,  27.,  25.,  69.,  43.,  45.,  33.,  61.,  52.,  29.,  30.,
        14.,  66.,  13.,  62.,  19.,   0.,  83.,  57.,  50.,  28.,  63.,
        55.,  51.,  42.,  38.,  41.,  54.,  22.,  65.,  60.,  70.,  64.,
        21., 100.,  44.,  16.,  73.,  93.,   4.,  75.,  71.,  11.,  67.,
        10.,  59.,  79.,  74.,   3.,  76.,   1.,   5.,  12.,   6.,  81.,
        78.,  85.,  72.,  80.,  77.,  90.,  86.,   8.,   9.,   2.,   7.,
        96.,  92.,  84.,  82.,  97.,  89.,  98.,  99.])

In [ ]:
test['Age'].unique()

array([ 37.,  35.,  23.,  15.,  43.,  56.,  26.,  40.,  25.,  30.,  33.,
        36.,  34.,   0.,  21.,  58.,  18.,  63.,  53.,  46.,  50.,  42.,
        41.,  24.,  39.,  22.,  27.,  76.,  20.,  52., 100.,  28.,  29.,
        19.,  31.,  55.,  38.,  32.,  17.,   4.,  71.,  47.,  51.,  11.,
        54.,  16.,  44.,  70.,  61.,  45.,  14.,  59.,  65.,  49.,  57.,
        13.,  48.,  69.,  60.,  10.,  12.,  62.,  72.,  74.,   1.,  68.,
        64.,  75.,  80.,  67.,  77.,  66.,  82.,  78.,   8.,   3.,   2.,
        73.,   7.,  85.,   9.,  96.,  83.,  79.,   5.,  84.,  81.,  94.,
        92.,  95.,  99.,   6.])

In [ ]:
train['Age'] = train['Age'].apply(lambda x : x // 10)
train['Age'].unique()

array([ 2.,  3.,  4.,  5.,  6.,  1.,  0.,  8.,  7., 10.,  9.])

In [ ]:
train['Age'].value_counts()

Age
3.0     442096
2.0     158672
4.0     130747
5.0      77540
1.0      26385
6.0      26248
0.0       3488
7.0       2703
10.0      2685
8.0        585
9.0        244
Name: count, dtype: int64

In [15]:
def age_preprocess(df):
    df['Age'][df['Age'] >= 100] = 100

    df['Age'][(0 <= df['Age']) & (df['Age'] < 20)] = 10
    df['Age'][(20 <= df['Age']) & (df['Age'] < 25)] = 20
    df['Age'][(25 <= df['Age']) & (df['Age'] < 30)] = 25
    df['Age'][(30 <= df['Age']) & (df['Age'] < 35)] = 30
    df['Age'][(35 <= df['Age']) & (df['Age'] < 40)] = 35
    df['Age'][(40 <= df['Age']) & (df['Age'] < 45)] = 40
    df['Age'][(45 <= df['Age']) & (df['Age'] < 50)] = 45
    df['Age'][(50 <= df['Age']) & (df['Age'] < 70)] = 60
    df['Age'][(70 <= df['Age']) & (df['Age'] < 100)] = 10

    return df

train = age_preprocess(train)
test = age_preprocess(test)

<ipython-input-15-96515ad1707c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'] >= 100] = 100
<ipython-input-15-96515ad1707c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(0 <= df['Age']) & (df['Age'] < 20)] = 10
<ipython-input-15-96515ad1707c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(20 <= df['Age']) & (df['Age'] < 25)] = 20
<ipython-input-15-96515ad1707c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(25 <= df['Age']) & (df['Age'] < 30)] = 25
<ipython-input-15-96515ad1707c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(30 <= df['Age']) & (df['Age'] < 35)] = 30
<ipython-input-15-96515ad1707c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(35 <= df['Age']) & (df['Age'] < 40)] = 35
<ipython-input-15-96515ad1707c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(40 <= df['Age']) & (df['Age'] < 45)] = 40
<ipython-input-15-96515ad1707c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(45 <= df['Age']) & (df['Age'] < 50)] = 45
<ipython-input-15-96515ad1707c>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(50 <= df['Age']) & (df['Age'] < 70)] = 60
<ipython-input-15-96515ad1707c>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(70 <= df['Age']) & (df['Age'] < 100)] = 10

In [ ]:
display(train.Age.value_counts())
display(test.Age.value_counts())

Age
35.0     324724
30.0     117372
60.0     103788
25.0     103471
40.0      72065
45.0      58682
20.0      55201
10.0      33405
100.0      2685
Name: count, dtype: int64

Age
35.0     59274
30.0     21029
60.0     19679
25.0     19271
40.0     12225
20.0     10784
45.0      9964
10.0      7054
100.0      341
Name: count, dtype: int64

In [20]:
train['Age'] = train['Age'].astype(int)
test['Age'] = test['Age'].astype(int)
display(train.Age.value_counts())
display(test.Age.value_counts())

35     324724
30     117372
60     103788
25     103471
40      72065
45      58682
20      55201
10      33405
100      2685
Name: Age, dtype: int64

35     59274
30     21029
60     19679
25     19271
40     12225
20     10784
45      9964
10      7054
100      341
Name: Age, dtype: int64

In [ ]:
train['Year-Of-Publication'].value_counts()

Year-Of-Publication
2002.0    77173
2001.0    67566
1999.0    64175
2000.0    61749
2003.0    60744
          ...
2008.0        1
1909.0        1
1904.0        1
1378.0        1
1910.0        1
Name: count, Length: 110, dtype: int64

In [ ]:
train['Year-Of-Publication'] = train['Year-Of-Publication'].apply(lambda x : x // 10 * 10)
train['Year-Of-Publication'].value_counts()

Year-Of-Publication
 1990.0    417970
 2000.0    289031
 1980.0    123469
 1970.0     23000
-10.0       11515
 1960.0      3785
 1950.0      1921
 1940.0       262
 1920.0       176
 1930.0       136
 2020.0        59
 1910.0        28
 1900.0        25
 2010.0        12
 1370.0         2
 1800.0         1
 1890.0         1
Name: count, dtype: int64

In [ ]:
test['Year-Of-Publication'] = test['Year-Of-Publication'].apply(lambda x : x // 10 * 10)
test['Year-Of-Publication'].value_counts()

Year-Of-Publication
 199.0    76793
 200.0    53478
 198.0    21623
 197.0     4175
-1.0       2425
 196.0      604
 195.0      417
 192.0       37
 194.0       33
 193.0       25
 202.0        7
 191.0        2
 201.0        1
 190.0        1
Name: count, dtype: int64

In [16]:
train[train['Year-Of-Publication'] == -1]
# Year-Of-Publication; '-1'로 표기된 missing values는 도서를 찾아보면서 값 대체 가능
# 시간 부족으로 단계 생략

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
184,TRAIN_000184,USER_00049,BOOK_121460,0,35.0,"gaylord, michigan, usa",Bxc Blue Bay Mystery,Gertrude Cha Warner,-1.0,Scholastic Inc
186,TRAIN_000186,USER_00049,BOOK_175661,10,35.0,"gaylord, michigan, usa",Lighthouse Mystery,Gertrude C Warner,-1.0,Scholastic Inc
191,TRAIN_000191,USER_00049,BOOK_230275,0,35.0,"gaylord, michigan, usa",Mike's Mystery,Gertrude Cha Warner,-1.0,Scholastic Inc
231,TRAIN_000231,USER_00054,BOOK_122689,0,35.0,"spring, texas, usa",Charming Billy,Alice Mcdermott,-1.0,"Farrar, Straus Giroux"
290,TRAIN_000290,USER_00060,BOOK_165427,0,25.0,"los angeles, california, usa",Moon Palace,Paul Auster,-1.0,Faber Faber Inc
...,...,...,...,...,...,...,...,...,...,...
870700,TRAIN_870700,USER_92056,BOOK_093874,5,35.0,"leucadia, california, usa",High Ground,John Mcgahern,-1.0,Faber Faber Inc
870751,TRAIN_870751,USER_92058,BOOK_117063,0,20.0,"halifax, nova scotia, canada",Hotel Du Lac,Anita Brookner,-1.0,Penguin Putnam~trade
870776,TRAIN_870776,USER_92058,BOOK_181486,8,20.0,"halifax, nova scotia, canada",Laurels Kitchen a Handbook for Vegetarian Co,Laurel Robertson,-1.0,Bantam Doubleday Dell
870895,TRAIN_870895,USER_92080,BOOK_045027,10,35.0,"brookhaven, mississippi, usa",Best of Sisters In Crime,Marilyn Wallace,-1.0,Penguin Putnam~childrens Hc
871300,TRAIN_871300,USER_92093,BOOK_216824,0,35.0,"lakewood, colorado, usa",Girlfriends,Jayne Wexler,-1.0,Running Press

In [ ]:
train[train['Year-Of-Publication'] >= 2000]['Year-Of-Publication'].value_counts()

Year-Of-Publication
2002.0    77173
2001.0    67566
2000.0    61749
2003.0    60744
2004.0    21682
2005.0      114
2021.0       51
2020.0        8
2011.0        7
2010.0        4
2006.0        2
2008.0        1
2012.0        1
Name: count, dtype: int64

In [17]:
def year_preprocess(df):

    df['Year-Of-Publication'][(-1 < df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1980)] = 1970
    df['Year-Of-Publication'][(1980 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1985)] = 1980
    df['Year-Of-Publication'][(1985 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1990)] = 1985
    df['Year-Of-Publication'][(1990 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1995)] = 1990
    df['Year-Of-Publication'][(1995 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2000)] = 1995
    df['Year-Of-Publication'][(2000 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2005)] = 2000
    df['Year-Of-Publication'][(2005 <= df['Year-Of-Publication'])] = 2010

    return df

train = year_preprocess(train)
test = year_preprocess(test)

<ipython-input-17-a7696eee6a94>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(-1 < df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1980)] = 1970
<ipython-input-17-a7696eee6a94>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1980 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1985)] = 1980
<ipython-input-17-a7696eee6a94>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1985 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1990)] = 1985
<ipython-input-17-a7696eee6a94>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1990 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1995)] = 1990
<ipython-input-17-a7696eee6a94>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1995 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2000)] = 1995
<ipython-input-17-a7696eee6a94>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(2000 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2005)] = 2000
<ipython-input-17-a7696eee6a94>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(2005 <= df['Year-Of-Publication'])] = 2010

In [ ]:
display(train['Year-Of-Publication'].value_counts())
display(test['Year-Of-Publication'].value_counts())

Year-Of-Publication
 2000.0    288914
 1995.0    262876
 1990.0    155094
 1985.0     81341
 1980.0     42128
 1970.0     29337
-1.0        11515
 2005.0       117
 2010.0        71
Name: count, dtype: int64

Year-Of-Publication
 2000.0    53469
 1995.0    48785
 1990.0    28008
 1985.0    14232
 1980.0     7391
 1970.0     5294
-1.0        2425
 2005.0        9
 2010.0        8
Name: count, dtype: int64

In [18]:
train['Year-Of-Publication'] = train['Year-Of-Publication'].astype('int')
test['Year-Of-Publication'] = test['Year-Of-Publication'].astype('int')
display(train['Year-Of-Publication'].value_counts())
display(test['Year-Of-Publication'].value_counts())

 2000    288914
 1995    262876
 1990    155094
 1985     81341
 1980     42128
 1970     29337
-1        11515
 2010       188
Name: Year-Of-Publication, dtype: int64

 2000    53469
 1995    48785
 1990    28008
 1985    14232
 1980     7391
 1970     5294
-1        2425
 2010       17
Name: Year-Of-Publication, dtype: int64

In [ ]:
# 성능 비교 후 numeric variables 범주화 결정 (원래 개인적으로 잘 안 함,,)
# 위 코드에서는 columns를 덮어썼지만, 새로운 column을 생성하고 original을 drop하기

In [21]:
train.dtypes

ID                     object
User-ID                object
Book-ID                object
Book-Rating             int64
Age                     int64
Location               object
Book-Title             object
Book-Author            object
Year-Of-Publication     int64
Publisher              object
dtype: object

In [ ]:
train.nunique()

ID                     871393
User-ID                 83256
Book-ID                243441
Book-Rating                11
Age                       137
Location                20971
Book-Title             217829
Book-Author             92635
Year-Of-Publication       110
Publisher               15505
dtype: int64

In [ ]:
train['Location'].value_counts()

Location
toronto, ontario, canada                 12267
n/a, n/a, n/a                            11161
chicago, illinois, usa                    7214
seattle, washington, usa                  6967
ottawa, ontario, canada                   6915
                                         ...
qom, n/a, iran                               1
warlingham, england, united kingdom          1
pfäffikon, nebraska, switzerland             1
puerto vallarta, mexico, usa                 1
castiglion fiorentino, toscana, italy        1
Name: count, Length: 20971, dtype: int64

In [ ]:
train['City'] = train['Location'].str.split(', ').str[0]
train['State'] = train['Location'].str.split(', ').str[1]
train['Nation'] = train['Location'].str.split(', ').str[2]
train

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher,City,State,Nation
0,TRAIN_000000,USER_00000,BOOK_044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira,sackville,new brunswick,canada
1,TRAIN_000001,USER_00000,BOOK_081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books,sackville,new brunswick,canada
2,TRAIN_000002,USER_00000,BOOK_086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books,sackville,new brunswick,canada
3,TRAIN_000003,USER_00000,BOOK_098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon,sackville,new brunswick,canada
4,TRAIN_000004,USER_00000,BOOK_180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book,sackville,new brunswick,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871388,TRAIN_871388,USER_92096,BOOK_081138,0,34.0,"minneapolis, minnesota, usa",Healing Words: The Power of Prayer and the Pra...,Larry Dossey,1993.0,Harpercollins,minneapolis,minnesota,usa
871389,TRAIN_871389,USER_92097,BOOK_258124,0,35.0,"temple, texas, usa",The Salmon of Doubt: Hitchhiking the Galaxy On...,DOUGLAS ADAMS,2002.0,Harmony,temple,texas,usa
871390,TRAIN_871390,USER_92098,BOOK_071848,0,45.0,"ottawa, ontario, canada",Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2000.0,Thorndike Press,ottawa,ontario,canada
871391,TRAIN_871391,USER_92099,BOOK_252599,8,43.0,"maple grove, minnesota, usa",Heartbreak Hill: Anatomy of a Ryder Cup,Tim Rosaforte,1996.0,St Martins Pr,maple grove,minnesota,usa
871392,TRAIN_871392,USER_92100,BOOK_130798,0,35.0,"castiglion fiorentino, toscana, italy",The Coffin Quilt: The Feud between the Hatfiel...,Ann Rinaldi,1999.0,Harcourt Children's Books,castiglion fiorentino,toscana,italy

In [ ]:
test['City'] = test['Location'].str.split(', ').str[0]
test['State'] = test['Location'].str.split(', ').str[1]
test['Nation'] = test['Location'].str.split(', ').str[2]
test

In [ ]:
train.nunique()

ID                     871393
User-ID                 83256
Book-ID                243441
Book-Rating                11
Age                       137
Location                20971
Book-Title             217829
Book-Author             92635
Year-Of-Publication       110
Publisher               15505
City                    13907
State                    1989
Nation                    333
dtype: int64

In [ ]:
train['City'].value_counts()

City
n/a                      13732
toronto                  12516
chicago                   7661
seattle                   7144
ottawa                    7108
                         ...
prudhoe bay                  1
hoffman est                  1
uedem                        1
eight mile plains            1
castiglion fiorentino        1
Name: count, Length: 13907, dtype: int64

In [ ]:
train['State'].value_counts()

State
california        90957
texas             36742
ontario           34550
florida           28295
missouri          28232
                  ...
hertfordshire,        1
fankleigh park        1
nonthaburi            1
lu                    1
milano,               1
Name: count, Length: 1989, dtype: int64

In [ ]:
train['Nation'].value_counts()

Nation
usa                             629455
canada                           78533
united kingdom                   26078
germany                          23468
australia                        15252
                                 ...
australian capital territory         1
palau                                1
berlin                               1
victoria                             1
worcester                            1
Name: count, Length: 333, dtype: int64

In [ ]:
train[train['Nation'] == 'berlin']

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher,City,State,Nation
510970,TRAIN_510970,USER_54408,BOOK_143229,4,26.0,"berlin, wannsee, berlin, germany",Das Monstrum. Tommyknockers. Roman.,Stephen King,1990.0,Heyne,berlin,wannsee,berlin

In [ ]:
train[train['Nation'] == 'victoria']

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher,City,State,Nation
510509,TRAIN_510509,USER_54310,BOOK_262895,0,22.0,"highton, geelong, victoria, australia",A Tale of Two Cities,Charles Dickens,1997.0,Signet Book,highton,geelong,victoria

In [ ]:
train[train['Location'].str.contains('schleswig-holstein,')]

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher,City,State,Nation,Country
2302,TRAIN_002302,USER_00342,BOOK_045207,5,27.0,"wedel, schleswig-holstein, germany",Gottes Werk Und Teufels Beitrag,John Irving,2000.0,Diogenes Verlag AG,wedel,schleswig-holstein,germany,"louisiana,"
2303,TRAIN_002303,USER_00342,BOOK_202391,0,27.0,"wedel, schleswig-holstein, germany",Die fÃ?Â¼nfte Frau.,Henning Mankell,2000.0,Dtv,wedel,schleswig-holstein,germany,"louisiana,"
7495,TRAIN_007495,USER_00888,BOOK_119299,0,38.0,"mohrkirch, schleswig-holstein, germany",Killing him softly. Sanfte und unsanfte Geschi...,Julia Peters,2000.0,Droemer Knaur,mohrkirch,schleswig-holstein,germany,usa
7496,TRAIN_007496,USER_00888,BOOK_208957,8,38.0,"mohrkirch, schleswig-holstein, germany",Raumschiff Titanic.,Douglas Adams,2001.0,Goldmann,mohrkirch,schleswig-holstein,germany,usa
7497,TRAIN_007497,USER_00888,BOOK_242997,0,38.0,"mohrkirch, schleswig-holstein, germany",Schiffbruch mit Tiger.,Yann Martel,2003.0,"Fischer (S.), Frankfurt",mohrkirch,schleswig-holstein,germany,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841594,TRAIN_841594,USER_88722,BOOK_101225,0,44.0,"25474 ellerbek, schleswig-holstein, germany",Nachtblind.,John Sandford,2001.0,Goldmann,25474 ellerbek,schleswig-holstein,germany,NaN
841595,TRAIN_841595,USER_88722,BOOK_184012,6,44.0,"25474 ellerbek, schleswig-holstein, germany",Ein Fall fÃ?Â¼r Kay Scarpetta.,Patricia Cornwell,1998.0,Goldmann,25474 ellerbek,schleswig-holstein,germany,NaN
843491,TRAIN_843491,USER_89008,BOOK_051613,0,35.0,"norderstedt, schleswig-holstein, germany",Jenseits des groÃ?Â?en Meeres 01. Die Flucht. ...,Avi,2001.0,Ravensburger Buchverlag,norderstedt,schleswig-holstein,germany,NaN
863163,TRAIN_863163,USER_91234,BOOK_186463,0,25.0,"kiel, schleswig-holstein, germany",Schwarzer Sonntag.,Thomas Harris,1999.0,Heyne,kiel,schleswig-holstein,germany,NaN
863372,TRAIN_863372,USER_91276,BOOK_020047,7,30.0,"feldhorst, schleswig-holstein, germany",House Of God.,Samuel Shem,1998.0,"Droemersche Verlagsanstalt Th. Knaur Nachf., G...",feldhorst,schleswig-holstein,germany,NaN

In [ ]:
train['Nation'] = train['Location'].str.split(', ').str[2]
train['Country'] = train['Location'].apply(lambda x: x.split(',')[-1].strip())
train

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher,Nation,Country
0,TRAIN_000000,USER_00000,BOOK_044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira,canada,canada
1,TRAIN_000001,USER_00000,BOOK_081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books,canada,canada
2,TRAIN_000002,USER_00000,BOOK_086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books,canada,canada
3,TRAIN_000003,USER_00000,BOOK_098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon,canada,canada
4,TRAIN_000004,USER_00000,BOOK_180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book,canada,canada
...,...,...,...,...,...,...,...,...,...,...,...,...
871388,TRAIN_871388,USER_92096,BOOK_081138,0,34.0,"minneapolis, minnesota, usa",Healing Words: The Power of Prayer and the Pra...,Larry Dossey,1993.0,Harpercollins,usa,usa
871389,TRAIN_871389,USER_92097,BOOK_258124,0,35.0,"temple, texas, usa",The Salmon of Doubt: Hitchhiking the Galaxy On...,DOUGLAS ADAMS,2002.0,Harmony,usa,usa
871390,TRAIN_871390,USER_92098,BOOK_071848,0,45.0,"ottawa, ontario, canada",Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2000.0,Thorndike Press,canada,canada
871391,TRAIN_871391,USER_92099,BOOK_252599,8,43.0,"maple grove, minnesota, usa",Heartbreak Hill: Anatomy of a Ryder Cup,Tim Rosaforte,1996.0,St Martins Pr,usa,usa
871392,TRAIN_871392,USER_92100,BOOK_130798,0,35.0,"castiglion fiorentino, toscana, italy",The Coffin Quilt: The Feud between the Hatfiel...,Ann Rinaldi,1999.0,Harcourt Children's Books,italy,italy

In [ ]:
train[train['Nation'] != train['Country']]['Country'].value_counts()

Country
                                 21012
united kingdom                     972
usa                                589
spain                              121
japan                               68
canada                              38
australia                           18
channel islands                     15
south korea                         15
tobago                              12
ireland                              8
mexico                               7
france                               7
austria                              5
portugal                             5
new zealand                          4
switzerland                          3
germany                              3
italy                                2
malaysia                             2
honduras                             1
finland                              1
the                                  1
guam                                 1
philippines                          1
the world tomorrow                   1
nigeria                              1
disgruntled states of america        1
deutschland                          1
indonesia                            1
china                                1
Name: count, dtype: int64

In [ ]:
train[(train['Nation'] != train['Country']) & (train['Country'] == 'china')]

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher,Nation,Country
836318,TRAIN_836318,USER_87907,BOOK_185106,0,63.0,"hong kong, s.a.r., n/a, china",The Mystery of Mind : A Systematic Account of ...,Peter M.K. Chan,2003.0,"iUniverse, Inc.",n/a,china

In [ ]:
train[train['Country'] == ''] = 'n/a'
train.isnull().sum()

/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_43790/324828165.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'n/a' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train[train['Country'] == ''] = 'n/a'
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_43790/324828165.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'n/a' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train[train['Country'] == ''] = 'n/a'

ID                     0
User-ID                0
Book-ID                0
Book-Rating            0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Nation                 0
Country                0
dtype: int64

In [28]:
train['Country'] = train['Location'].apply(lambda x: x.split(',')[-1].strip())
test['Country'] = test['Location'].apply(lambda x: x.split(',')[-1].strip())
train = train.drop(['Location'], axis=1)
test = test.drop(['Location'], axis=1)

In [29]:
train.Country.value_counts()
# count가 매우 적은 경우 찾아서 원래 데이터 참고하여 값 변환 필요
# 같은 국가가 다른 표기를 할 경우도 찾아서 값 변환 필요
# 노가다,,,,,

usa                 630043
canada               78571
united kingdom       27050
germany              23471
                     21012
                     ...
palau                    1
galiza neghra            1
macedonia                1
prince william           1
richmond country         1
Name: Country, Length: 244, dtype: int64

In [30]:
train.Country.unique()
# 외국어 표기도 찾아서 변환 필요
# 노가다 22,,,

array(['canada', 'usa', 'germany', 'spain', 'australia', 'united kingdom',
       '', 'italy', 'netherlands', 'portugal', 'sweden', 'austria',
       'france', 'finland', 'new zealand', 'singapore', 'switzerland',
       'philippines', 'españa', 'malaysia', 'belgium', 'japan', 'denmark',
       'belize', 'england', 'poland', 'ireland', 'haiti',
       'trinidad and tobago', 'deutschland', 'tanzania', 'moldova',
       'bulgaria', 'luxembourg', 'south africa', 'czech republic',
       'israel', 'malta', 'petrolwar nation', 'kuwait', 'peru', 'ecuador',
       'south korea', 'turkey', 'nigeria', 'brazil', 'hungary',
       'indonesia', 'kazakhstan', 'india', 'china', 'egypt', 'croatia',
       'taiwan', 'argentina', 'chile', 'venezuela', 'galiza', 'iceland',
       'scotland', 'bolivia', 'lithuania', 'norway', 'mexico', 'bahamas',
       'united sates', 'romania', 'iran', 'dominican republic',
       'maricopa', 'the world tomorrow', 'andorra', 'galiza neghra',
       'jersey', 'ghana', 'richmond country', 'united arab emirates',
       'tunisia', 'papua new guinea', 'catalunya', 'costa rica',
       'vietnam', 'la chine éternelle!', 'sri lanka', 'slovenia',
       'universe', 'slovakia', 'greece', 'lleida', 'la chine éternelle !',
       'framingham', 'puerto rico', 'grenada', 'cameroon',
       'usa (currently living in england)', 'alderney', 'saint loius',
       'laos', 'collin', 'burma', 'thailand', 'shelby', 'n/a',
       'hong kong', 'tdzimi', 'space', 'worcester', 'ethiopia', 'zambia',
       'los estados unidos de norte america', 'russia', 'united states',
       'antarctica', 'polk', 'u.a.e', 'cambodia', 'zimbabwe',
       'here and there', 'u.s.a.', 'cherokee', 'cananda', 'monaco',
       'morgan', 'jamaica', 'cape verde', 'pakistan', 'mongolia',
       'antigua and barbuda', 'cyprus', 'estonia', 'barbados', 'nepal',
       'ukraine', 'pender', 'us', 'saint lucia', 'kenya', 'guernsey',
       'euskal herria', 'yugoslavia', 'morocco', 'bosnia and herzegovina',
       'colombia', 'ventura county', 'csa', 'hernando', 'latvia',
       'prince william', 'x', 'kern', 'onondaga nation', 'guatemala',
       'aruba', 'saudi arabia', 'we`re global!', 'tobago', 'catalonia',
       'urugua', 'turkmenistan', 'panama', 'uzbekistan', 'bermuda',
       'oman', 'phillipines', 'disgruntled states of america',
       'san mateo', 'uruguay', 'unknown', 'burkina faso', 'madagascar',
       'georgia', 'benin', 'united state', 'nz', 'afghanistan',
       'bangladesh', 'fiji', 'italia', 'berguedà', 'paraguay', 'albania',
       'ferrara', 'gabon', 'l`italia', 'wales', 'cayman islands', 'macau',
       'marshall islands', 'rwanda', 'niger', 'ysa', 'mauritius',
       'macedonia', 'channel islands', 'palau', 'qatar',
       'n/a - on the road', 'the great white north', 'cuba', 'algeria',
       'united kindgonm', 'brunei', 'solomon islands', 'caribbean sea',
       'k1c7b1', 'st.thomasi', 'guinea-bissau', 'iraq', 'catalunya spain',
       'lebanon', 'la belgique', 'aroostook', 'guam', 'rutherford',
       '"n/a"', 'honduras', 'el salvador', 'the', 'fort bend', 'syria',
       'mozambique', 'far away...', 'u.k.', 'quit', 'madrid', 'guinea',
       'orense', 'st. helena', 'hungary and usa', 'c', 'la france',
       'everywhere and anywhere', 'u.s. of a.', 'uganda', 'united staes',
       'ee.uu', 'alachua', 'tajikistan', 'burlington', 'van wert',
       'camden', 'bahrain', 'u.s>', 'america'], dtype=object)

In [31]:
import re

pattern = r'[^\w\s\d]'
cols = ['Country', 'Book-Title', 'Book-Author', 'Publisher']

def object_preprocess(df):
    for c in cols:
        df[c] = df[c].astype(str)
        df[c] = df[c].apply(lambda x: re.sub(pattern, '', x))
        df[c] = df[c].apply(lambda x: x.strip())
        df[c] = df[c].replace('\s+', ' ', regex=True)
        df[c] = df[c].str.replace(' ', '').str.lower()
    return df

train = object_preprocess(train)
test = object_preprocess(test)

In [ ]:
# Book-Title, Book-Author, Publisher도 같은 사람이나 다르게 표기된 부분 찾아서 변환 필요
# 노가다 333......

In [ ]:
# categorical columns -> Label Encoding..?
# 가서 얘기해보자,,

In [ ]:
pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /Users/seungju/opt/anaconda3/lib/python3.9/site-packages (1.1.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/seungju/opt/anaconda3/lib/python3.9/site-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: joblib>=1.0.0 in /Users/seungju/opt/anaconda3/lib/python3.9/site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/seungju/opt/anaconda3/lib/python3.9/site-packages (from scikit-surprise) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from surprise import SVD, Dataset, Reader, accuracy

In [ ]:
reader = Reader(rating_scale=(0, 10))
train = Dataset.load_from_df(train[['User-ID', 'Book-ID', 'Book-Rating']], reader)
train = train.build_full_trainset()

In [ ]:
model = SVD()
model.fit(train)

In [ ]:
submit = pd.read_csv('sample_submission.csv')
submit['Book-Rating'] = test.apply(lambda row: model.predict(row['User-ID'], row['Book-ID']).est, axis=1)
submit.to_csv('./baseline_submit.csv', index=False)